[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.12.3"
# chromedriver-autoinstaller = "==0.6.4"
qdrant-client = {extras = ["fastembed"], version = "==1.12.1"}
lxml = "==5.3.0"
openai = "==1.54.3"
selenium = "==4.26.1"
sentence-transformers = "==3.2.1"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
